<br/>
<div class="container">

<ul class="list-group">
            <li class="list-group-item  active">Profile</li>
            <li class="list-group-item"><%- employee.name%></li>
            <li class="list-group-item"><%- employee.email%></li>
            <li class="list-group-item"><%- employee.age%></li>
            <li class="list-group-item"><%- employee.basic%></li>
            <li class="list-group-item"><%- employee.mobile%></li>
            <li class="list-group-item "><a class="btn btn-medium btn-primary" href="/employees/edit/<%= employee.id %>">Edit this User</a></li>
          </ul>

</div>
